@font-face {
    font-family: "iconfont";
    // src: url('http://bzs.haobaoweb.com/hbb/static/fonts/iconfont.woff?t=1504663254656') format('woff'), /* chrome, firefox */
    // url('http://bzs.haobaoweb.com/hbb/static/fonts/iconfont.ttf?t=1504663254656') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    // url('http://bzs.haobaoweb.com/hbb/static/fonts/iconfont.svg?t=1504663254656#iconfont') format('svg');
    /* iOS 4.1- */
    src: getImgUrl('fonts/iconfont.woff?t=1504663254656') format('woff'), /* chrome, firefox */
    getImgUrl('fonts/iconfont.ttf?t=1504663254656') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    getImgUrl('fonts/iconfont.svg?t=1504663254656#iconfont') format('svg');
    /* iOS 4.1- */
}

.icon {
    font-family: "iconfont" !important;
    font-size: $font-size-base;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    vertical-align: middle;
    // line-height: 1;
    line-height: inherit;
}

.icon-lg {
    font-size: $font-size-lger;
}

.icon-check:before { content: "\e645"; }

.icon-close:before { content: "\e646"; }

.icon-favorfill:before { content: "\e64b"; }

.icon-favor:before { content: "\e64c"; }

.icon-locationfill:before { content: "\e650"; }

.icon-roundcheckfill:before { content: "\e656"; }

.icon-back:before { content: "\e679"; }

.icon-question:before { content: "\e691"; }

.icon-right:before { content: "\e6a3"; }

.icon-cart:before { content: "\e6af"; }

.icon-delete:before { content: "\e6b4"; }

.icon-goods:before { content: "\e6cd"; }

.icon-add:before { content: "\e6da"; }

.icon-picfill:before { content: "\e72c"; }

.icon-album:before { content: "\e734"; }

.icon-calendar:before { content: "\e74a"; }

.icon-discount:before { content: "\e6c5"; }

.icon-minus:before { content: "\e768"; }

.icon-phone:before { content: "\e620"; }

.icon-down:before { content: "\e769"; }

.icon-share:before { content: "\e624"; }

.icon-kefu:before { content: "\e625"; }